@model PointingPoker.Models.DashboardViewModel
<ul class="grid">
    @foreach (var team in Model.Teams)
    {
        <li>
            <div>
                <a href="@Url.Action("Summary", "Team", new { id = team.Id })">@team.Name</a>
            </div>
        </li>
    }
</ul>

<p class="right">
    <a class="button" href="@Url.Action("Create", "Team")">Create Team</a>
</p>
