body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: gray;
}

header h1 {
    font-size:48px;
}

nav.right {
    text-align:right;
}
nav.horizontal ul {
    margin: 0;
    padding: 0;
}

nav.horizontal ul li { 
    display: inline-block; 

}

.content {
    margin: 0 auto;
    width: 600px;
}
