@model List<PointingPoker.DataAccess.Models.User>

<table>
    <thead>
        <tr><th>ID</th><th>Username</th><th>Email</th></tr>
    </thead>
    <tbody>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
        </tr>
    }
    </tbody>
</table>