@using PointingPoker.Domain
@using PointingPoker.Domain.Models
@inject SignedInUserService SignedInUserServ
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/main.css" />
</head>
<body>
    <nav class="horizontal right">
        <div class="content">
            @Html.Partial("_UserNav")
        </div>
    </nav>
    <header>
        <div class="content">
            <h1>pointing.online</h1>
            <span>Asynchronous story pointing for distributed software teams.</span>
        </div>
    </header>
    <nav class="horizontal">
        <div class="content">
            @if (SignedInUserServ.IsSignedIn())
            {
                @Html.Partial("_SignedInNav")
            }
        </div>
    </nav>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
