<nav>
    <ul>
        <li><a href="@Url.Action("Index", "Pointinating")">Cards</a></li>
        <li><a href="@Url.Action("Card", "Pointinating")">Create Card</a></li>
        <li><a href="@Url.Action("SignOut", "User")">Sign Out</a></li>
    </ul>
</nav>